<div class="container">
  <div class="row p-4">
    <h4>
      <strong>投稿一覧</strong>
    </h4>
    <div class="col">
      <%= link_to new_post_path, class:"btn btn-outline-dark mr-3" do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </div>
  </div>
<%= render 'layouts/public_post', posts: @posts %>
    </div>
  </div>
</div>