<div class="container">
  <p class="text-center display-1">
    <strong>About</strong>
  </p>
  <p class="h3 text-center">
    Ridersで自身のバイクに関する事やバイクとの日常を投稿し、<br>
    同じ趣味を持つ仲間との繋がりを作ることが出来ます！<br>
    一緒にこのアプリケーションを盛り上げていけると幸いです！
  </p>
</div>