<div class="container p-4">
  <div class="row">
    <h3 class="text-center">無料で新規登録して投稿してみましょう！</h3>
  </div>
  <div class="row p-4">
    <h4>
      <strong>投稿一覧</strong>
    </h4>
  </div>
    <% @posts.each do |post| %>
  <div class="container border">
    <div class="row pt-3">
      <div class="col">
        <%= image_tag post.user.image, size: "100x100" %>
        <%= post.user.nickname %>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col">
        <%= post.body %>
      </div>
    </div>
    <div class="row pt-3 pb-3">
      <div class="col">
        <% if post.image.attached? %>
          <%= image_tag post.image, size: "200x200" %>
        <% else %>
          <td></td>
        <% end %>
      </div>
    </div>
  </div>
    <% end %>
</div>